@import "../base";

$chart-height: 400px;
$chart-width: 90%;
$chart-left: 5%;

.widget.chart {
	background: #ffffff;
	margin: 0 25px 15px 0;
	overflow: visible;
	padding: 5px;
	text-align: center;

	header {
		color: black;
		font-size: 2rem;
		left: $chart-left;
		margin-bottom: 15px;
		padding: 5px;
		position: relative;
		text-align: center;
		width: $chart-width;
	}

	.graph {
		float: left;
		margin-right: $chart-left;
		height: $chart-height;
		position: relative;
		width: $chart-width;
	}

	.y_axis {
		float: left;
		width: $chart-left;
	}

	.slider {
		clear: both;
		height: 0.6em;
		position: relative;
		top: -40px;
		left: $chart-left;
		width: $chart-width;

		.ui-slider-range {
			background: #ccc;
			border: 1px solid #ccc;
		}

		.ui-slider-handle {
			background: #666;
			height: 1.1em;
			outline: none;
			z-index: $z-index-slider;
		}
	}

	.legend {
		float: left;
		left: $chart-left;
		padding: 5px;
		position: relative;
		width: $chart-width - 1%;
		margin-top: -15px;
		text-align: left;

		li {
			background-color: #ffffff;
			border-bottom: 0px;
			color: black;
			display: block;

			&:hover {
				background-color: #dddddd;
			};
		}
	}
}

div.rickshaw_legend {
	background: #ffffff;
}