@import "../base";

.widget.dialog {
	z-index: $z-index-dialog;

	section {
		position: relative;
	}

	div.wrapper {
		background: white;
		border: 2px solid $color-border;
		@include border-radius();
		@include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
		max-height: 400px;
		overflow: auto;
		padding: 10px 20px;
		position: relative;
		width: 800px;
	}

	section.content {
		overflow: hidden;
		padding: 0;
	}

	section.buttons {
		float: right;

		button {
			font-size: 1rem;
			margin-right: 0;
			margin-left: 10px;
		}
	}

	.modal_mask {
		background: black;
		height: 100%;
		left: 0;
		@include opacity(0.4);
		position: fixed;
		top: 0;
		width: 100%;
	}

	.close {
		@include background(image-url('widgets/dialog/close.png') no-repeat scroll left 0px);
		cursor: pointer;
		height: 32px;
		position: absolute;
		right: -7px;
		top: -7px;
		width: 33px;
		z-index: 1;
	}
}

/* TODO: add a delayed opacity transition to the loading spinner
body.loading .widget.dialog {
	div.wrapper {
		@include background(white image-url('modules/main/loading-spinner.gif') no-repeat scroll center);
	}

	section.content, section.buttons, .close {
		visibility: hidden;
	}
}
*/
