@import "../base";

.drawer {
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
    @include transition(width, 1s);
    white-space: nowrap;

    &.closed {
        width: 15px;
    }

    div.handle {
        background-color: $color-handle;
        height: 100%;
        position: relative;
        width: 15px;

        &:hover {
            background-color: $color-handle-hover;
        }
    }
}
