@import "../base";

.widget.map {
	height: 100%;
	width: 100%;

	// copied from Google Maps inline styles
	.widget.overlay {
		cursor: default;
		margin-top: 5px;
		min-width: 28px;
		position: relative;
		@include user-select(none);

		a, ul {
			@include background(white);
			border: 1px solid #717B87;
			@include box-shadow(rgba(0, 0, 0, 0.398438) 0px 2px 4px);
			color: black;
			font-family: Arial, sans-serif;
		}

		a {
			padding: 1px 6px;
			text-align: center;
			font-size: 13px;

			&:hover {
				@include background(linear-gradient(top, rgb(255,255,255), rgb(230,230,230)));
			}
		}

		ul { 
			position: absolute;
			display: none;
			// TODO: transition the display to a 1s delay
		}
		&:hover ul { display: block; }

		li {
			font-size: 11px;
			list-style: none;
			padding: 5px;
			text-align: left;
			white-space: nowrap;

			&:hover { 
				background-color: #e3e3e3;

				input[type=checkbox] {
					outline: 1px solid #717B87;
				}
			}
		}

		input[type=checkbox] {
			@include appearance(none);
			background-color: white;
			margin-right: 3px;
			outline: 1px solid lighten(#717B87, 25%);
			width: 11px;
			height: 11px;

			&:checked {
				@include background(white url(https://maps.gstatic.com/mapfiles/mv/imgs8.png) no-repeat scroll -52px -45px)
			}
		}
	}
}