@import "../base";

ul.widget.menu {
	display: inline-block;
	list-style: none;
	z-index: $z-index-menu;

	li {
		background-color: white;
		border: 2px solid $color-border;
		border-bottom-width: 0px;
		@include border-top-radius();
		display: inline-block;
		font-size: 0.9rem;
		margin: 0 5px;
		padding: 5px 10px;
		position: relative;
		@include single-transition(background-color, 0.2s);
		text-transform: uppercase;
		white-space: nowrap;

		&:hover {
			cursor: default;
			ul.widget.menu { display: block; }
		}

		&:not(.selected):hover {
			background-color: $color-background-hover;
			color: $color-text-hover;
			cursor: pointer;
			@include single-transition(background-color, 0.2s);
		}

		&.selected {
			background-color: $color-background-selected;
			color: $color-text-selected;
		}
	}

	// submenus
	ul.widget.menu {
		display: none;
		margin-left: -17px;
		margin-top: 5px;
		position: absolute;
		width: calc(100% + 14px);
		width: -webkit-calc(100% + 14px);

		li {
			border-bottom-width: 1px;
			border-top-width: 1px;
			@include border-top-radius(0px);
			display: block;
			font-size: 0.75rem;

			&:first-child {
				border-top-width: 3px;
			}

			&:last-child {
				@include border-bottom-radius();
				border-bottom-width: 2px;
			}
		}
	}
}
