@import "../base";

ul.widget.tab {
	display: inline-block;
	list-style: none;

	li {
		background-color: rgba(255,255,255,0);
		border: 2px solid white;
		border-bottom-width: 0px;
		@include border-top-radius();
		@include single-box-shadow(#333, 2px, -1px, 2px);
		display: inline-block;
		font-size: 0.9rem;
		margin: 5px;
		padding: 5px 10px;
		text-transform: uppercase;

		&.selected {
			background-color: rgba(255,255,255,1.0);
		}

		&:hover {
			&.selected {
				cursor: default;
			}
			&:not(.selected) {
				background-color: rgba(255,255,255,0.4);
				cursor: pointer;
			}
		}
	}
}
