@import "../base";

table.widget.table {
	border-spacing: 0;
	text-align: left;
	width: 100%;

	td, th {
		border: 1px solid black;
		padding: 5px;

		&.select {
			background-color: transparent;
			border: 0px;
			width: 15px;
		}
	}

	th {
		background-color: $color-table-header;
		color: white;
		cursor: pointer;
		&.select, { cursor: default; }
	}

	tr {
		&:nth-child(even) td {
			background-color: #ececec;
			&.select, { background-color: white; }
		}

		&.filter th {
			background-color: darken($color-table-header, 20%);
			padding: 3px;
			text-align: center;

			input[type=text] {
				font-size: 1rem;
				height: 100%;
				padding: 2px;
				width: -webkit-calc(100% - 10px);
				width: calc(100% - 10px);
			}
		}
	}

	tfoot td:not(.select) {
		background-color: $color-table-footer;
	}
}

body.loading {
	.widget.emptyrow {
		display: none;
	}
}